<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Co-Block | Order Confirmation</title>
</head>

<body style="font-family: Arial, sans-serif; color: #333; margin: 0; padding: 0">
    <table style="width: 100%; max-width: 800px; margin: 0 auto; padding: 20px">
        <tr>
            <td colspan="4" style="text-align: left; background-color: #fff">
                <span>
                    <img src="https://us-central1-co-bloc-backend-91ed7.cloudfunctions.net/app/images/co-bloc-logo.jpg"
                        alt="co-bloc logo">
                </span>
            </td>
        </tr>
        <tr>
            <td colspan="4" style="text-align: center; background-color: #fff">
                <h1 style="color: #112655; font-size: 30px; font-weight: 600">Order Confirmation</h1>
            </td>
        </tr>
        <tr>
            <td>

                <div>
                    <p>Dear <%= Customer_Name %>,</p>
                    <p>We are pleased to inform you that your recent order with Co-Bloc has been successfully processed
                        and confirmed. Your order details are as follows:</p>
                </div>

                <div>
                    <p>Order No: <%=Order_Number %></p>
                    <p>Total Amount Due: €<%=Total_Amount  %></p>
                </div>

                <p>We appreciate your trust in Co-Bloc for your purchase. Our team is now working diligently to process and prepare your order for shipment.</p>
                <p>Thank you for choosing Co-Bloc. We look forward to serving you again in the future.</p>
                <p>Sincerely,</p>
                <p>[Co bloc]</p><br>
                <table
                    style="width: 100%; max-width: 800px; margin: 0 auto; position: relative; bottom: 20px; position: absolute; bottom: 20px; left: 50%; transform: translateX(-50%);">
                    <tr style="padding: 10px 0">
                        <td style="padding: 10px; width: 300px">
                            <p style="text-align:center; padding:10px">
                                &copy; Entertainment-lab SAS</p>
                        </td>
                    </tr>
                </table>
</body>

</html>