<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Invoice Generated</title>
</head>

<body style="font-family: Arial, sans-serif;">

  <table style="width: 100%;">
    <tr>
      <td>
        <p>Dear <%= Invoices.CustomerName %> <%= Invoices.LastName %>,</p>
        <br>
        <p>This is to inform you that a new invoice has been generated.</p>
        <p>The total amount due is €<%= Invoices.Amount %>.</p>
        <p>Thank you for choosing Co-Bloc.</p>
        <br>
        <p>Sincerely,</p>
        <p>[Co Bloc]</p>
      </td>
    </tr>
  </table>
</body>

</html>